.Header {
    margin-bottom: 40px;

}

.cart svg.svg-inline--fa.fa-shopping-cart.fa-w-18 {
    width: 20px;
    height: 20px;
}

.cart-info {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    margin-left: 8px;
}

.cart-info:hover {
    color: #fff;
    text-decoration: none;
}